[*.cs]

# CA1707: Los identificadores no deben contener caracteres de subrayado
dotnet_diagnostic.CA1707.severity = silent

# CA1054: Uri parameters should not be strings
dotnet_diagnostic.CA1054.severity = silent

# CA1040: Avoid empty interfaces
dotnet_diagnostic.CA1040.severity = silent

# CA1056: URI-like properties should not be strings
dotnet_diagnostic.CA1056.severity = silent

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = silent
