[*.cs]

# CA1303: No pasar cadenas literal como parámetros localizados
dotnet_diagnostic.CA1303.severity = none

# CA1707: Los identificadores no deben contener caracteres de subrayado
dotnet_diagnostic.CA1707.severity = none

# CA1819: Las propiedades no deben devolver matrices
dotnet_diagnostic.CA1819.severity = none

# CA1056: Las propiedades URI no deben ser cadenas
dotnet_diagnostic.CA1056.severity = none

# CA1032: Implementar constructores de excepción estándar
dotnet_diagnostic.CA1032.severity = none

# CA1054: Uri parameters should not be strings
dotnet_diagnostic.CA1054.severity = none
